body {
    background-image:url("http://38.media.tumblr.com/d844154882d05a22bd8118badcd54d06/tumblr_nfev3eKdbn1qhccbco1_1280.gif")
}
        
 a{
   color:green 
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transformation: uppercase;
    font-size: 38px;
}
img {
    width: 420px;
    hight: auto;
     
}
img {
    width: 500px;
    hight: auto;
}

h1 {
    border-style:
}
     
